.wallet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wallet p {
  margin-bottom: 0;
  text-align: center;
}

.currency {
  width: 20%;
}

.value {
  width: 60%;
}

.wallets {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 5px;
}
